{% extends 'admin/change_list.html' %}
{% load static %}

{% block content %}
    <div>
        <ol>
            <li>
                {% if crawl_status_nic %}
                    <span>Crawling nicmusic.net</span>
                    <img src="{% static  'admin/img/icon-yes.svg' %}" alt="True">
                {% else %}
                    <a href="{% url 'admin:start-crawl' 'collect_musics_nic' %}">start crawl on nicmusic.net</a>
                    <span>running:</span><img src="{% static  'admin/img/icon-no.svg' %}" alt="False">
                {% endif %}
            </li>
            <li>
                {% if crawl_status_ganja %}
                    <span>Crawling ganja2music.com</span>
                    <img src="{% static  'admin/img/icon-yes.svg' %}" alt="True">
                {% else %}
                    <a href="{% url 'admin:start-crawl' 'collect_musics_ganja' %}">start crawl on ganja2music.com</a>
                    <span>running:</span><img src="{% static  'admin/img/icon-no.svg' %}" alt="False">
                {% endif %}
            </li>
        </ol>
    </div>
    {{ block.super }}
{% endblock %}