{% extends 'admin/change_list.html' %}
{% load static %}

{% block content %}
    <div>
        <ol>
            <li>
                <a href="{% url 'admin:start-crawl' 'collect_musics_nic' %}">start crawl on nicmusic.net</a>
                <span style="padding-left: 10px">
                    running:
                    {% if crawl_status_nic %}
                        <img src="{% static  'admin/img/icon-yes.svg' %}" alt="True">
                    {% else %}
                        <img src="{% static  'admin/img/icon-no.svg' %}" alt="False">
                    {% endif %}
                </span>
            </li>
            <li>
                <a href="{% url 'admin:start-crawl' 'collect_musics_ganja' %}">start crawl on ganja2music.com</a>
                <span style="padding-left: 10px">
                    running:
                    {% if crawl_status_ganja %}
                        <img src="{% static  'admin/img/icon-yes.svg' %}" alt="True">
                    {% else %}
                        <img src="{% static  'admin/img/icon-no.svg' %}" alt="False">
                    {% endif %}
                </span>
            </li>
        </ol>

    </div>
    {{ block.super }}
{% endblock %}